{% extends "hello/layout.html" %}
{% block title %}
    Home
{% endblock %}
{% block content %}
    <h2>Tickets</h2>

    {% if message_list %}
        <table class="message_list">
            <thead>
            <tr>
                <th>Identifier</th>
                <th>Model</th>
                <th>Serial</th>
                <th>Parts</th>
            </tr>
            </thead>
            <tbody>
            {% for message in message_list %}
                <tr>
                    <td><a href="/ticket/{{ message.id }}">{{ message.id }}</a></td>
                    <td>{{ message.model }}</td>
                    <td>{{ message.serial }}</td>
                    <td>{{ message.parts }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No messages have been logged. Use the <a href="{% url 'log' %}">Log Message form</a>.</p>
    {% endif %}
{% endblock %}