{% extends "hello/layout.html" %}
{% block title %}
    Search
{% endblock %}
{% block content %}
    <form action={% url 'searchResults' %} method='get'>
    <form method='get' class="log-form">
        {{ form }}
    </form>
    <ul>
        {% for ticket in object_list %}
                <tr>
                    <td><a href="/ticket/{{ ticket.id }}">{{ ticket.id }}</a></td>
                    <td>{{ ticket.model }}</td>
                    <td>{{ ticket.serial }}</td>
                    <td>{{ ticket.parts }}</td>
                </tr>
    </ul>
        {% endfor %}
{% endblock %}
{% include "hello/home.html" %}