{% extends "hello/layout.html" %}
{% block title %}
Ticket
{% endblock %}
{% block content %}
    <span class="ticket">{{ ticket.id }}</span>
    <table class="ticketDeets">
        <thead>
            <tr>
                <th>Identifier</th>
                <th>Model</th>
                <th>Serial</th>
                <th>Parts</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ ticket.id }}</td>
                <td>{{ ticket.model }}</td>
                <!-- <td>{{ ticket.creationDate | time:'H:i:s' }}</td> -->
                <td>{{ ticket.serial }}</td>
                <td>{{ ticket.parts }}</td>
                {% for part in ticket.possibleParts %}
                    <td>{{ part.name }}
                {% endfor %}
                <!-- <td><a href="/changePartsOnTicket/{{ ticket.id }}">Update Parts</a></td> -->
            </tr>
        </tbody>
    </table>
    <body>
        {% for note in notes %}

        {% endfor %}
    </body>
{% endblock %}