{% extends "hello/layout.html" %}
{% block title %}
Ticket
{% endblock %}
{% block content %}
    <span class="ticket">{{ ticket.id }}</span>
    <table class="ticketDeets">
        <thead>
            <tr>
                <th>Identifier</th>
                <th>Model</th>
                <th>Serial</th>
                <th>Parts</th>
            </tr>
        </thead>
        {% for ticket in tickets %}
        <tbody>
            <tr>
                <td>{{ ticket.model }}</td>
                <td>{{ ticket.creationDate | time:'H:i:s' }}</td>
                <td>
                    {{ ticket.model }}
                    {{ ticket.serial }}
                </td>
                <td>{{ ticket.id }}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
    <body>
        {% for note in notes %}

        {% endfor %}
    </body>
{% endblock %}