{% extends "hello/layout.html" %}
{% block title %}
Ticket #{{ ticket.id }}
{% endblock %}
{% block content %}
<div class="wrap">
            <div class="fleft">
                <p class="deetsHeader">TICKET: {{ ticket.id }}</p>
                <p class="deetsHeader">MODEL: {{ ticket.model }}</p>
                <p class="deetsHeader">SERIAL: {{ ticket.serial }}</p>
                <p class="deetsHeader">ASSET: {{ ticket.assetTag }}</p>
                <p class="deetsHeader">SCHOOL: {{ ticket.customer }}</p>
                <p class="deetsHeader">STATUS: {{ ticket.status }}</p>
            </div>
            <div class="fright">
                <p class="deetsHeader">PARTS</p>
                <p class="deetsHeader">
                    {% for part in ticket.partsNeeded %}
                        <a href="/part/{{ part.id }}">{{ part.name }}</a>;
                    {% endfor %}
                </p>
                <p class="deetsHeader">PARTS USED</p>
                <p class="deetsHeader">
                    {% for part in ticket.partsUsed %}
                        <a href="/part/{{ part.id }}">{{ part.name }}</a>;
                    {% endfor %}
                </p>
            </div>
</div>
    <form method="POST" class="log-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="select" class="save btn btn-default">Add</button>
    </form>
{% endblock %}