{% extends "nobility/layout.html" %}
{% block title %}
{% endblock %}
{% block content %}
<form action="{% url 'searchResults' %}" method="GET">
    New: <input name="state" value="New" type="checkbox" checked=true>
    Ordered: <input name="state" value="Ordered" type="checkbox" checked=true>
    Repaired: <input name="state" value="Reparied" type="checkbox" checked=true>
    Finished: <input name="state" value="Finished" type="checkbox"><br>

    All: <input name="q" type="text"><br><br>

    Serial: <input name="serial" type="text" placeholder="blank"><br>

    Model: <input name="model" type="text" placeholder="blank"><br>

    Asset: <input name="asset" type="text" placeholder="blank"><br>

    Customer: <input name="customer" type="text" placeholder="blank"><br>

    <input type="submit" name="action" value="Advance">
</form>
{% endblock %}