{% extends "nobility/layout.html" %}
{% block title %}
Ticket #{{ ticket.id }}
{% endblock %}
{% block content %}
<div class="wrap">
            <div class="fleft">
                <p class="deetsHeader">TICKET: {{ ticket.id }}</p>
                {% if ticket.model %}
                    <p class="deetsHeader">MODEL: {{ ticket.model }}</p>
                {% endif %}
                {% if ticket.serial %}
                    <p class="deetsHeader">SERIAL: {{ ticket.serial }}</p>
                {% endif %}
                {% if ticket.assetTag %}
                    <p class="deetsHeader">ASSET: {{ ticket.assetTag }}</p>
                {% endif %}
                {% if ticket.customer %}
                    <p class="deetsHeader">SCHOOL: {{ ticket.customer }}</p>
                {% endif %}
                {% if ticket.claim %}
                    <p class="deetsHeader">CLAIM: {{ ticket.claim }}</p>
                {% endif %}
                <p class="deetsHeader">STATUS: {{ ticket.status }}</p>
            </div>
            <div class="fright">
                <p class="deetsHeader">PARTS</p>
                <p class="deetsHeader">
                    {% for part in ticket.partsNeeded %}
                        <a href="/part/{{ part.id }}" class="parts">{{ part.name }}</a>;
                    {% endfor %}
                </p>
                <p class="deetsHeader">PARTS USED</p>
                <p class="deetsHeader">
                    {% for part in ticket.partsUsed %}
                        <a href="/part/{{ part.id }}">{{ part.name }}</a>;
                    {% endfor %}
                </p>
                <p class="deetsHeader">COST</p>
                <p class="deetsHeader">
                    {{ ticket.cost }}
                </p>
            </div>
</div>
<form method="POST">
    {% csrf_token %}
    <input type="submit" name="action" value="Add Part">
    <input type="submit" name="action" value="Add Note">
    <input type="submit" name="action" value="Change Status">
</form>

<div>
    <table>
        <tbody>
            {% if ticket.hasNotes %}
                <th class="table-username">USER</th>
                <th>NOTE</th>
                <th class="table-date">h:m|dd.mm.yy</th>
            {% endif %}
            {% for note in ticket.notes %}
                <tr>
                    <td class="table-username">
                        {{ note.user.username }}
                    </td>
                    <td>
                        {{ note.body }}
                    </td>
                    <td class="table-date">
                        {{ note.date|date:"H:i|d.m.y" }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}