{% extends "nobility/layout.html" %}
{% block title %}
Ticket #{{ ticket.id }}
{% endblock %}
{% block content %}
<div class="wrap">
            <div class="fleft">
                <p class="deetsHeader">TICKET: {{ ticket.id }}</p>
                {% if ticket.model %}
                    <p class="deetsHeader">MODEL: {{ ticket.model }}</p>
                {% endif %}
                {% if ticket.serial %}
                    <p class="deetsHeader">SERIAL: {{ ticket.serial }}</p>
                {% endif %}
                {% if ticket.assetTag %}
                    <p class="deetsHeader">ASSET: {{ ticket.assetTag }}</p>
                {% endif %}
                {% if ticket.customer %}
                    <p class="deetsHeader">SCHOOL: {{ ticket.customer }}</p>
                {% endif %}
                {% if ticket.claim %}
                    <p class="deetsHeader">CLAIM: {{ ticket.claim }}</p>
                {% endif %}
                <p class="deetsHeader">STATUS: {{ ticket.status }}</p>
            </div>
            <div class="fright">
                <p class="deetsHeader">PARTS</p>
                <p class="deetsHeader">
                    {% for part in ticket.partsNeeded %}
                        <a href="/part/{{ part.id }}">{{ part.name }}</a>;
                    {% endfor %}
                </p>
                <p class="deetsHeader">PARTS USED</p>
                <p class="deetsHeader">
                    {% for part in ticket.partsUsed %}
                        <a href="/part/{{ part.id }}">{{ part.name }}</a>;
                    {% endfor %}
                </p>
            </div>
</div>
<form method="POST">
    {% csrf_token %}
    <input type="submit" name="action" value="Add Part">
    <input type="submit" name="action" value="Add Note">
    <input type="submit" name="action" value="Change Status">
</form>

<div class="notesOnTicket">
    <table class="noteTable">
        <tbody>
            {% for note in ticket.notes %}
                <tr>
                    <td>
                        {{ note.user.username }}: {{ note.body }} -- {{ note.date }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}