.navbar {
    background-color: lightslategray;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 4px 5px 4px 5px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 2.4em;
    font-weight: 600;
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
}

.right {
    float: right;
    padding: 8px 5px 8px 5px
}

.body-content {
    padding: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[name=ticket] {
    width: 80%;
}

.tickets th,td {
    text-align: left;
    padding-right: 15px;
}
.deetsHeader {
    text-align: left;
    font-size: 1em;
    font-weight: 250;
}

.wrap {
    width: 100%;
    overflow:auto;
    border-style: solid;
}

.fleft {
    float:left; 
    width: 40%;
    padding-left: 10px;
    border-right: 3px solid #000000;
}

.fcenter{
    float:left;
    width: 50%;
    margin-left:0.25%;
}

.fright {
    float: right;
    padding-right: 30px;
    width: 40%;
}
table {

    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    vertical-align: text-top;
    font-size: 1em;
}

td, th {
  border: 1px solid #dddddd;
  vertical-align: text-top;
  padding: 2px;
  font-size: 2em;
}

td {
    text-align: left;
}

tr:nth-child(even) {

  background-color: rgba(251, 232, 250, 0.765);

}

.table-username {
    background-color: rgb(195, 172, 243);
    vertical-align: text-top;
}

.table-date {
    text-align: right;
}